<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/yourcode.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item"><a class="nav-link active"
				data-toggle="tab" data-target="#home" href="">Danh Sách thương
					hiệu</a></li>
			<li class="nav-item"><a class="nav-link " data-toggle="tab"
				data-target="#menu1" href="">Chỉnh sửa thương hiệu</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content card">
			<div id="home" class="container tab-pane active">

				<table class="table table-bordered table-sm mt-3">
					<thead>
						<tr>
							<th>Mã thương hiệu</th>
							<th>Tên thương hiệu</th>
							<th>Ảnh</th>
							<th>Trạng thái</th>
							<th>Hành Động</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Casio</td>
							<td>casio.png</td>
							<td>Hoạt động</td>
							<td>
								<button ng-click="delete(item)"
									class="btn btn-danger fa fa-wrench">
									<!-- Edit -->
								</button>

							</td>
						</tr>
					</tbody>
				</table>
				<div class=" text-center mb-3">
					<button class="btn btn-danger">
						<b class="fa fa-hand-o-up "></b>
					</button>
					<button class="btn btn-primary">
						<b class="fa fa-hand-o-left"></b>
					</button>

					<button class="btn btn-success">0/10</button>

					<button class="btn btn-primary">
						<b class="fa fa-hand-o-right"></b>
					</button>
					<button class="btn btn-danger">
						<b class="fa fa-hand-o-down"></b>
					</button>
				</div>
			</div>
			<div id="menu1" class="container tab-pane">
				<div class="row mb-3 p-3">
					<div class="col-sm-4 text-center ">
						<label for="image"> <img alt=""
							src="/images/cloud-upload.jpg" class="img-rounded" width="304"
							height="236">
						</label>
					</div>
					<div class="ml-3 col-sm-7">
						<div class="row">
							<label>Mã thương hiệu</label> <input ng-model="form.name"
								class="form-control form-control-sm">
						</div>
						<div class="row">
							<label>Tên thương hiệu</label> <input ng-model="form.name"
								class="form-control form-control-sm">
						</div>
						<div class="row">
							<label>Ảnh</label> <input type="file"
								class="form-control-file  border" name="file">
						</div>
						<div class="row">
							<label>Trạng thái</label>
							<div class="form-control form-control-sm">
								<label class="radio-inline"> <input
									ng-model="form.available" ng-value="true" name="available"
									type="radio"> Hoạt động
								</label>&ensp; <label class="radio-inline"> <input
									ng-model="form.available" ng-value="false" name="available"
									type="radio"> Không hoạt động
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="text-center mb-3">
					<button class="btn btn-primary">
						<i class="fa fa-plus" aria-hidden="true"></i> Thêm
					</button>
					<button class="btn btn-warning">
						<i class="fa fa-wrench" aria-hidden="true"></i> Cập Nhật
					</button>
					<button class="btn btn-danger">
						<i class="fa fa-trash" aria-hidden="true"></i> Xóa
					</button>
					<button class="btn btn-info">
						<i class="fa fa-refresh" aria-hidden="true"></i> Xóa Form
					</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
