<!DOCTYPE html>
<!-- <html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org" -->
<!-- 	th:replace="~{/Layount/MainUser :: dynamic(~{::body})}"> -->
<html>
<head>
<title>Đăng nhập</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/assets/vendor-tt/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<link rel="stylesheet" type="text/css" href="/assets/user/util.css">
<link rel="stylesheet" type="text/css" href="/assets/user/main.css">
</head>
<body>
	<div class="limiter ">
		<div class="container-login100"
			style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-49"> Đăng nhập </span>

					<div class="wrap-input100 validate-input m-b-23"
						data-validate="Username is reauired">
						<span class="label-input100">Tên tài khoản</span> <input
							class="input100" type="text" name="username"> <span
							class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input"
						data-validate="Password is required">
						<span class="label-input100">Mật khẩu</span> <input
							class="input100" type="password" name="pass"> <span
							class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					<div class=" p-t-8 p-b-31 dis-flex"
						style="justify-content: space-between;">
						<a> <input style="margin-right: 10px;" type="checkbox">Ghi
							nhớ mật khẩu
						</a> <a th:href="@{/forgotPassword}"> Quên mật khẩu? </a>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">Đăng nhập</button>
						</div>
					</div>

					<div class="txt1 text-center p-t-54 p-b-20">
						<span> Hoặc đăng nhập bằng </span>
					</div>

					<div class="flex-c-m">
						<a href="#" class="login100-social-item bg1"> <i
							class="fa fa-facebook"></i>
						</a> <a href="#" class="login100-social-item bg3"> <i
							class="fa fa-google"></i>
						</a>
					</div>

					<div class="flex-col-c p-t-10">
						Bạn chưa có tài khoản?
						<div>
							<a th:href="@{/dangKy}" class="txt2"> Đăng ký </a> <a
								th:href="@{/Home}" class="txt2" style="margin-left: 10px;">
								Trang Chủ </a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>


</body>
</html>