<!DOCTYPE html>
<html lang="en">

<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
body {
	width: 100%;
}
</style>
</head>
<body>
	<div class="container">
		<!-- Nav tabs -->
		<div class="">
			<ul class="nav nav-tabs " role="tablist">
				<li class="nav-item"><a class="nav-link active"
					data-toggle="tab" data-target="#home" href="">Danh Sách</a></li>
				<li class="nav-item"><a class="nav-link " data-toggle="tab"
					data-target="#menu1" href="">Chỉnh Sửa</a></li>
				<li class="nav-item"><a class="nav-link " data-toggle="tab"
					data-target="#menu2" href="">Photo</a></li>
			</ul>
		</div>

		<!-- Tab panes -->
		<div class="tab-content ">
			<div id="home" class="container tab-pane active">
				<div class="row card">			     
					<div class="mt-3 d-flex flex-row-reverse">
						<div class="p-2 input-group input-group-sm col-sm-3">
							<input type="text" class="form-control" placeholder="Search">
							<div class="input-group-prepend">
								<button class="input-group-text" type="submit">Go</button>
							</div>
						</div>
						<div class="p-2 col-sm-2">
							<select class="custom-select custom-select-sm">
								<option selected>Đang Bán</option>
								<option value="#">Ngừng Bán</option>
							</select>
						</div>
					</div>
					<div class="card-body">
						<div class="mb-3">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Id SP</th>
										<th>Tên SP</th>
										<th>Hãng</th>
										<th>Loại Đồng Hồ</th>
										<th>Giá Cả</th>
										<th>Số Lượng</th>
										<th>Hình Ảnh</th>
										<th>Trạng Thái</th>
										<th>Hành Động</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>#</td>
										<td>#</td>
										<td>#</td>
										<td>#</td>
										<td>#</td>
										<td>#</td>
										<td>#</td>
										<td>#</td>
										<td>
											<div class="btn-group">
												<button ng-click="edit(item)" class="btn  fa fa-pencil"
													aria-hidden="true"></button>
												<button ng-click="delete(item)" class="btn  fa fa-trash-o"
													aria-hidden="true"></button>
												<button ng-click="delete(item)" class="btn  fa fa-picture-o"
													aria-hidden="true"></button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				
					<div class="text-muted text-center mb-3">
						<button class="btn btn-danger">
							<b class="fa fa-hand-o-up "></b>
						</button>
						<button class="btn btn-primary">
							<b class="fa fa-hand-o-left"></b>
						</button>

						<button class="btn btn-success">0/10</button>

						<button class="btn btn-primary">
							<b class="fa fa-hand-o-right"></b>
						</button>
						<button class="btn btn-danger">
							<b class="fa fa-hand-o-down"></b>
						</button>
					</div>
				</div>
			</div>
			
			
			<div id="menu1" class="container tab-pane card">
				<div class="d-flex pt-2 mt-2 mb-2">
					<div class="col-sm-4">
						<label for="image"> <img alt=""
							src="/images/cloud-upload.jpg" class="img-rounded" width="304"
							height="236">
						</label>

					</div>
					<div class="col-sm-8">
						<div class="row">
							<div class="form-group col-sm-4">
								<div>Tên</div>
								<input ng-model="form.name" class="form-control form-control-sm">
							</div>
							<div class="form-group col-sm-4">
								<div>Loại Đồng Hồ</div>
								<select class="form-control form-control-sm">
									<option>1</option>
								</select>
							</div>
							<div class="form-group col-sm-4">
								<div>Hãng</div>
								<select class="form-control form-control-sm">
									<option>1</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-4">
								<div>Kích Cỡ</div>
								<input ng-model="form.name" class="form-control form-control-sm">
							</div>
							<div class="form-group col-sm-4">
								<div>Màu</div>
								<input ng-model="form.name" class="form-control form-control-sm">
							</div>
							<div class="form-group col-sm-4">
								<div>Chất Liệu</div>
								<input ng-model="form.name" class="form-control form-control-sm">
							</div>
						</div>

						<div class="row">
							<div class="form-group col-sm-4">
								<div>Chống Thấm Nước</div>
								<input ng-model="form.name" class="form-control form-control-sm">
							</div>
							<div class="form-group col-sm-4">
								<div>Nguồn Gốc</div>
								<input ng-model="form.name" class="form-control form-control-sm">
							</div>
							<div class="form-group col-sm-4">
								<div>Ngày Thêm</div>
								<input ng-model="form.createDate" type="date"
									class="form-control form-control-sm">
							</div>
						</div>

						<div class="row">
							<div class="form-group col-sm-4">
								<div>Số Lượng</div>
								<input ng-model="form.name" class="form-control form-control-sm">
							</div>
							<div class="form-group col-sm-4">
								<div>Giá</div>
								<input ng-model="form.name" class="form-control form-control-sm">
							</div>
							<div class="form-group col-sm-4">
								<div>Trạng Thái</div>
								<select class="form-control form-control-sm">
									<option>1</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="">
					<div class="p-2 text-center">
						<button class="btn btn-primary">
							<i class="fa fa-plus" aria-hidden="true"></i> Thêm
						</button>
						<button class="btn btn-warning">
							<i class="fa fa-wrench" aria-hidden="true"></i> Cập Nhật
						</button>
						<button class="btn btn-danger">
							<i class="fa fa-trash" aria-hidden="true"></i> Xóa
						</button>
						<button class="btn btn-info">
							<i class="fa fa-refresh" aria-hidden="true"></i> Xóa Form
						</button>
					</div>
				</div>
			</div>

			<div id="menu2" class="container tab-pane card">
				<div class="mt-2 mb-2 clearfix">
					<div class="p-2 float-left">
						<label for="image"> <img alt="" src="/images/cloud-upload.jpg"
							class="img-rounded" width="304" height="236">
						</label>
					</div>

					<div class="col-sm-8 float-right">
						<div class="row">
							<div class="form-group col-sm-6">
								<div>Ảnh</div>
								<input type="file" class="form-control-file  border" name="file">
							</div>
							<div class="form-group col-sm-6">
								<div>Sản Phẩm</div>
								<select class="form-control form-control-sm">
									<option>1</option>
								</select>
							</div>
						</div>

						<div class="text-center">
							<button class="btn btn-primary">
								<i class="fa fa-plus" aria-hidden="true"></i> Thêm
							</button>
							<button class="btn btn-warning">
								<i class="fa fa-wrench" aria-hidden="true"></i> Cập Nhật
							</button>
							<button class="btn btn-danger">
								<i class="fa fa-trash" aria-hidden="true"></i> Xóa
							</button>
							<button class="btn btn-info">
								<i class="fa fa-refresh" aria-hidden="true"></i> Xóa Form
							</button>
						</div>
					</div>

				</div>
				<div class="mb-2 col-sm-8 mx-auto">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Image Id</th>
								<th>Tên SP</th>
								<th>Image</th>
								<th>Hành Động</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>#</td>
								<td>#</td>
								<td>#</td>
								<td>
									<div class="btn-group">
										<button ng-click="edit(item)" class="btn  fa fa-pencil"
											aria-hidden="true"></button>
										<button ng-click="delete(item)" class="btn  fa fa-trash-o"
											aria-hidden="true"></button>
										<button ng-click="delete(item)" class="btn  fa fa-picture-o"
											aria-hidden="true"></button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>

					<div class="p-2 text-center">
						<button class="btn btn-danger">
							<b class="fa fa-hand-o-up "></b>
						</button>
						<button class="btn btn-primary">
							<b class="fa fa-hand-o-left"></b>
						</button>

						<button class="btn btn-success">0/10</button>

						<button class="btn btn-primary">
							<b class="fa fa-hand-o-right"></b>
						</button>
						<button class="btn btn-danger">
							<b class="fa fa-hand-o-down"></b>
						</button>
					</div>

				</div>

			</div>


		</div>
	</div>
</body>

</html>