<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
	<title>WatchMen</title>	
	<link href="/assets/user/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/assets/user/jquery.min.js"></script>
	<!-- Custom Theme files -->
	<!--theme-style-->
	<link href="/assets/user/style.css" rel="stylesheet" type="text/css" media="all" />
	<!--//theme-style-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
   Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--fonts-->
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
	<!--//fonts-->
	<!-- start menu -->
	<link href="/assets/user/memenu.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="/assets/user/memenu.js"></script>
	<script>$(document).ready(function () { $(".memenu").memenu(); });</script>
	<script src="/assets/user/simpleCart.min.js"> </script>
	
	
	<style type="text/css">
	.boloc{
	background: red;}
	</style>
</head>
<body >
	<div class="header">
		<div class="header-top">
			<div class="container">
				<div class="search">
					<form>
						<input type="text" value="Search " onfocus="this.value = '';"
							onblur="if (this.value == '') {this.value = 'Search';}">
						<input type="submit" value="Go">
					</form>
				</div>
				<div class="header-left">
					<ul>
						<li><a th:href="@{/login}">Đăng Nhập</a></li>
						<li><a th:href="@{/registers}">Đăng Ký</a></li>

					</ul>
					<div class="cart box_1">
						<a th:href="@{/watchMen/cartItem}">
							<h3>
								<div class="total">
									<span class="simpleCart_total"></span> (<span
										id="simpleCart_quantity" class="simpleCart_quantity"></span>
									items)
								</div>
								<img src="images/cart.png" alt="" />
							</h3>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="container">
			<div class="head-top">
				<div class="logo">
					<a th:href="@{/Home}"><img src="/assets/images/logo.png" width="90px"
						height="55px" alt=""></a>
				</div>
				<div class=" h_menu4">
					<ul class="memenu skyblue">
						<li class="active grid"><a class="color8" th:href="@{/watchMen}">Trang
								Chủ</a></li>
						<li><a class="color1" th:href="@{/watchMen/product}">Sản Phẩm</a></li>
						<li><a class="color1" href="#">Thương Hiệu</a>
							<div class="mepanel">
								<div class="row">
									<div class="col-sm-3">
										<div class="h_nav">
											<ul>
												<li><a th:href="@{/watchMen/brand}">Accessories</a></li>
											</ul>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="h_nav">
											<ul>
												<li><a th:href="@{/watchMen/brand}">Accessories</a></li>
											</ul>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="h_nav">
											<ul>
												<li><a th:href="@{/watchMen/brand}">Accessories</a></li>
											</ul>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="h_nav">
											<ul>
												<li><a th:href="@{/watchMen/brand}">Accessories</a></li>
											</ul>
										</div>
									</div>

								</div>
							</div></li>
						<li class="grid"><a class="color1" >Danh Mục</a>
							<div class="mepanel">
								<div class="row">
									<div class="col1">
										<div class="h_nav">
											<ul>
												<li><a th:href="@{/watchMen/category}">Accessories</a></li>
												<li><a th:href="@{/watchMen/category}">Accessories</a></li>
												<li><a th:href="@{/watchMen/category}">Accessories</a></li>
												<li><a th:href="@{/watchMen/category}">Accessories</a></li>
												<li><a th:href="@{/watchMen/category}">Accessories</a></li>
												<li><a th:href="@{/watchMen/category}">Accessories</a></li>
												<li><a th:href="@{/watchMen/category}">Accessories</a></li>
											</ul>
										</div>
									</div>
									<div class="col1">
										<div class="h_nav">
											<ul>
												<li><a th:href="@{/watchMen/category}">Shirts</a></li>
												<li><a th:href="@{/watchMen/category}">Shirts</a></li>
												<li><a th:href="@{/watchMen/category}">Shirts</a></li>
												<li><a th:href="@{/watchMen/category}">Shirts</a></li>
												<li><a th:href="@{/watchMen/category}">Shirts</a></li>
												<li><a th:href="@{/watchMen/category}">Shirts</a></li>
												<li><a th:href="@{/watchMen/category}">Shirts</a></li>
												<li><a th:href="@{/watchMen/category}">Shirts</a></li>
												<li><a th:href="@{/watchMen/category}">Shirts</a></li>
											</ul>
										</div>
									</div>
									<div class="col1">
										<div class="h_nav">
											<h4>Popular Brands</h4>
											<ul>
												<li><a th:href="@{/watchMen/category}">Persol</a></li>
												<li><a th:href="@{/watchMen/category}">Persol</a></li>
												<li><a th:href="@{/watchMen/category}">Persol</a></li>
												<li><a th:href="@{/watchMen/category}">Persol</a></li>
												<li><a th:href="@{/watchMen/category}">Persol</a></li>
												<li><a th:href="@{/watchMen/category}">Persol</a></li>
												<li><a th:href="@{/watchMen/category}">Persol</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div></li>

						<li><a class="color1" href="#">Tài Khoản</a>
							<div class="mepanel">
								<div class="row">
									<div class="col-sm-3">
										<div class="h_nav">
											<ul>
												<li><a th:href="@{/watchMen/account}">Thông Tin Tài Khoản</a></li>
											</ul>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="h_nav">
											<ul>
												<li><a th:href="@{/watchMen/account/history}">Lịch Sử Mua Hàng</a></li>
											</ul>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="h_nav">
											<ul>
												<li><a th:href="@{/watchMen/account/favorite}">Sản Phẩm Yêu Thích</a></li>
											</ul>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="h_nav">
											<ul>
												<li><a th:href="@{/watchMen/account/changePassword}">Đổi Mật Khẩu</a></li>
											</ul>
										</div>
									</div>

								</div>
							</div></li>
					</ul>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>

	</div>
	<!--      Noi Dung -->
	<div layout:fragment="content">
		<p>Changing contents</p>
	</div>

	<div class="footer">
		<div class="container">
			<div class="footer-top-at">
				<div class="col-md-4 amet-sed ">
					<img src="/assets/images/logo.png" width="250px" height="150px">
					<div class="d-flex">
						<i class="fab fa-facebook"></i> <i class="fab fa-google-plus"></i>
					</div>
				</div>
				<div class="col-md-4 amet-sed">
					<h4>Hỗ Trợ</h4>
					<ul class="nav-bottom">
						<li><a href="#">Đổi mật khẩu</a></li>
						<li><a href="#">Thông tin người dùng</a></li>
						<li><a href="contact.html">Đăng nhập</a></li>
						<li><a href="#">Đăng xuất</a></li>
					</ul>
				</div>
				<div class="col-md-4 amet-sed">
					<h4>Liên hệ</h4>
					<ul class="nav-bottom">
						<li><a href="#">Bá Hiển -Bình Xuyên -Vĩnh Phúc</a></li>
						<li><a href="#">toannvph09846@fpt.edu.vn</a></li>
						<li><a href="#">0123456789</a></li>
						<li><a href="#">0987654321</a></li>
						<li><a href="#">Membership</a></li>
					</ul>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
		<div class="footer-class">
			<p>
				© 2015 New store All Rights Reserved | Design by <a
					href="http://w3layouts.com/" target="_blank">W3layouts</a>
			</p>
		</div>
	</div>
</body>
</html>