<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index.html}">

<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



<!-- Layout -->
<link href="/assets/user/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/assets/user/jquery.min.js"></script>
	<!-- Custom Theme files -->
	<!--theme-style-->
	<link href="/assets/user/style.css" rel="stylesheet" type="text/css" media="all" />
	<!--//theme-style-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
   Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--fonts-->
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
	<!--//fonts-->
	<!-- start menu -->
	<link href="/assets/user/memenu.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="/assets/user/memenu.js"></script>
	<script>$(document).ready(function () { $(".memenu").memenu(); });</script>
</head>

<body layout:fragment="content">
	<!-- menu -->
	<div class="container" >
		
		<div class="nav-bre" style="margin-top: 20px;">
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="#">Home</a></li>
			    <li class="breadcrumb-item"><a href="#">Library</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Data</li>
			  </ol>
			</nav>
		</div>
		
		<!-- Page Content -->
		<div class="content container-fluid">
			<!-- Page Header -->
			<div class="page-header">
				<div class="row  align-items-center" style="justify-content: space-between;">
					<div class="col-sm-3">
						<h3 class="page-title">
							Lịch sử mua hàng<span id="year"></span>
						</h3>
					</div>
					<div class="col-sm-10 col-md-3 col-lg-4">
						<div class="input-group">
							<input type="text" class="form-control col-sm-10" placeholder="Search">
							<div class="input-group-append">
								<button class="btn btn-secondary" type="button">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Search Filter -->
				<!-- /Search Filter -->
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-striped custom-table datatable">
								<thead>
									<tr>
										<th style="min-width: 50px;">STT</th>
										<th style="min-width: 150px;">Mã đơn hàng</th>
										<th style="min-width: 150px;">Tên khách hàng</th>
										<th style="min-width: 100px;">Ngày đặt hàng</th>
										<th style="min-width: 100px;">Tổng tiền</th>
										<th style="min-width: 100px;">Trạng thái</th>
										<th style="min-width: 150px;">Chi tiết</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>DH0001</td>
										<td>Journey</td>
										<td>17-Apr-2020</td>
										<td>10000000</td>
										<td><span class="mode mode_on">Active</span></td>
										<td>
											<div class="btn-group">
												<a th:href="@{/chitietDH}" class="btn " role="button"><i
													class="fas fa-edit"></i></a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</body>

</html>