<!DOCTYPE html>
<html lang="en">

<head>
<title>Quản lý danh mục</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/yourcode.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="container">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item"><a class="nav-link active"
				data-toggle="tab" data-target="#home" href="">Danh sách danh mục</a></li>
			<li class="nav-item"><a class="nav-link " data-toggle="tab"
				data-target="#chitiet" href="">Chỉnh sửa danh mục</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content card">
			<div id="home" class="container tab-pane active">
				<br>
				<table class="table table-bordered table-sm">
					<thead>
						<tr>
							<th>Mã danh mục</th>
							<th>Tên danh mục</th>
							<th>Hành Động</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Casio</td>
							<td>
								<button ng-click="delete(item)"
									class="btn btn-primary fa fa-wrench">
									<!-- Chỉnh sửa -->
								</button>
								<button ng-click="delete(item)"
									class="btn btn-danger fa fa-trash">
									<!-- Xóa -->
								</button>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="text-center mb-3">
					<button class="btn btn-danger">
						<b class="fa fa-hand-o-up "></b>
					</button>
					<button class="btn btn-primary">
						<b class="fa fa-hand-o-left"></b>
					</button>

					<button class="btn btn-success">0/10</button>

					<button class="btn btn-primary">
						<b class="fa fa-hand-o-right"></b>
					</button>
					<button class="btn btn-danger">
						<b class="fa fa-hand-o-down"></b>
					</button>
				</div>
			</div>
			<div id="chitiet" class="container tab-pane">
				<br>
				<div class="row">
					<div class="form-group col-sm-6">
						<div>Mã danh mục</div>
						<input ng-model="form.name" class="form-control form-control-sm">
					</div>
					<div class="form-group col-sm-6">
						<div>Tên danh mục</div>
						<input ng-model="form.name" class="form-control form-control-sm">
					</div>
				</div>

				<!-- 				<div class=""> -->
				<!-- 					<div class=""> -->
				<!-- 						<div class="row"> -->
				<!-- 							<label>Mã danh mục</label> <input ng-model="form.name" -->
				<!-- 								class="form-control" type="text"> <label>Tên -->
				<!-- 								danh mục</label> <input ng-model="form.name" class="form-control" -->
				<!-- 								type="text"> -->
				<!-- 						</div> -->
				<!-- 					</div> -->
				<!-- 				</div> -->
				<div class="text-center mb-3">
					<button class="btn btn-primary">
						<i class="fa fa-plus" aria-hidden="true"></i> Thêm
					</button>
					<button class="btn btn-warning">
						<i class="fa fa-wrench" aria-hidden="true"></i> Cập Nhật
					</button>
					<button class="btn btn-danger">
						<i class="fa fa-trash" aria-hidden="true"></i> Xóa
					</button>
					<button class="btn btn-info">
						<i class="fa fa-refresh" aria-hidden="true"></i> Xóa Form
					</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>