<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<div class="container">
	<section class="row">
		<div class="col mt-4">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation"><a
					class="nav-link active" id="videoEditing-tab" data-toggle="tab"
					data-target="#videoEditing" href="" role="tab"
					aria-controls="videoEditing" aria-selected="true">Chỉnh Sửa</a></li>
				<li class="nav-item" role="presentation"><a class="nav-link"
					id="videoList-tab" data-toggle="tab" data-target="#videoList"
					href="" role="tab" aria-controls="videoList" aria-selected="false">Danh
						Sách</a></li>

			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="videoEditing"
					role="tabpanel" aria-labelledby="videoEditing-tab">
					<c:url var="url" value="/video" />
					<form action="${url}/manager" method="post"
						enctype="multipart/form-data">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-9">
										<div class="form-group">
											<div>ID</div>
											<input ng-model="form.name"
												class="form-control form-control-sm">
										</div>

										<div class="form-group">
											<div>Giảm Giá (%)</div>
											<input ng-model="form.name"
												class="form-control form-control-sm">
										</div>
										<label>Trạng Thái</label><br>
										<div class="form-check form-check-inline">
											<label> <input class="form-check-input"
												${form.active?'checked':''} name="active" type="radio"
												value="true" id="status">Sử Dụng

											</label> &nbsp &nbsp; <label> <input
												${form.active?'':'checked'}
                                            name="active"
												type="radio" value="false" class="form-check-input"
												id="status">Ngưng Sử Dụng
											</label>
										</div>

									</div>
								</div>

							</div>
							<div class="mb-3 text-center text-muted">
								<button class="btn btn-primary">
									<i class="fa fa-plus" aria-hidden="true"></i> Thêm
								</button>
								<button class="btn btn-warning">
									<i class="fa fa-wrench" aria-hidden="true"></i> Cập Nhật
								</button>
								<button class="btn btn-danger">
									<i class="fa fa-trash" aria-hidden="true"></i> Xóa
								</button>
								<button class="btn btn-info">
									<i class="fa fa-refresh" aria-hidden="true"></i> Xóa Form
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="tab-pane fade card" id="videoList" role="tabpanel"
					aria-labelledby="videoList-tab">
					<table class="table table-bordered">
						<thead>
							<tr>
								<td>ID</td>
								<td>Giảm Giá</td>
								<td>Trạng Thái</td>
								<td>Edit</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>10</td>
								<td>Sử Dụng</td>
								<td><a class="btn btn-primary btn-sm"
									href="${url}/edit/${item.id}"> <i class="fa fa-pencil"
										aria-hidden="true"></i> Edit
								</a></td>
							</tr>
						</tbody>
					</table>
					<div class="p-2 text-center">
						<button class="btn btn-danger">
							<b class="fa fa-hand-o-up "></b>
						</button>
						<button class="btn btn-primary">
							<b class="fa fa-hand-o-left"></b>
						</button>

						<button class="btn btn-success">0/10</button>

						<button class="btn btn-primary">
							<b class="fa fa-hand-o-right"></b>
						</button>
						<button class="btn btn-danger">
							<b class="fa fa-hand-o-down"></b>
						</button>
					</div>
				</div>

			</div>
		</div>
	</section>
	<footer class="row"></footer>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script>
    $('#myTab a').on('click', function(event) {
        event.preventDefault()
        $(this).tab('show')
    })
</script>